<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Windows Software</title>
  <link rel="stylesheet" href="../stylesheets/style.css">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/json2csv"></script>
</head>
<body>

  <header>
    <h1>Windows Software</h1>
    <a href="/csv">Downlod CSV File</a>
  </header>
  <main>
    <!-- <section>
      <div class="img-div">
        <img src="https://d2.alternativeto.net/dist/icons/firefox_156308.png?width=150&height=150&mode=crop&upscale=false" alt="img" >
        <a href="#">Download</a>
      </div>
      <div class="desc-div">
        <h2>Name</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non assumenda, cupiditate qui autem fugit minus dolorum molestias? Laborum, vel totam.</p>
      </div>  
    </section> -->
  </main>

  <script src="../javascripts/script.js"></script>
</body>
</html>